annotated-types==0.6.0
asgiref==3.7.2
blinker==1.6.2
blis==0.7.11
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.2.0
cli-helpers==2.3.0
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
confection==0.1.3
configobj==5.0.8
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
dbr==9.6.30
distlib==0.3.7
Django==4.2.4
django-crispy-forms==2.1
docutils==0.20.1
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
et-xmlfile==1.1.0
filelock==3.12.2
Flask==2.3.3
fonttools==4.44.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kivymd==1.1.1
kiwisolver==1.4.5
langcodes==3.3.0
MarkupSafe==2.1.3
matplotlib==3.8.1
murmurhash==1.0.10
mysql-connector-python==8.2.0
numpy==1.25.2
opencv-python==4.8.0.76
openpyxl==3.1.2
packaging==23.2
pendulum==2.1.2
pgcli==4.0.1
pgspecial==2.1.1
Pillow==10.0.1
platformdirs==3.10.0
preshed==3.0.9
prompt-toolkit==3.0.41
protobuf==4.21.12
psycopg==3.1.13
psycopg2==2.9.9
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.17.2
pyparsing==3.1.1
pypiwin32==223
pyserial==3.5
pytesseract==0.3.10
python-dateutil==2.8.2
python-decouple==3.8
pytzdata==2020.1
pywin32==306
requests==2.31.0
rivescript==1.15.0
setproctitle==1.3.3
six==1.16.0
smart-open==6.4.0
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse==0.4.4
srsly==2.4.8
tabulate==0.9.0
tesseract==0.1.3
thinc==8.2.1
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.3
virtualenv-clone==0.5.7
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.3
Werkzeug==2.3.7
