{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title> LOGIN </title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    {% if form.errors %}
    <p style="font-size: 1rem; font-weight: bold;">Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
      <p>Su cuenta no tiene acceso a esta página. Para continuar,
      inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
      <p style="font-size: 1rem; font-weight: bold;">Por favor inicie sesión.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="svgContainer">
        <image x="0" y="0" width="200" height="200" src="{% static 'img/login.jpg' %}">
    </div>
    <div class="inputGroup inputGroup1">
        {{ form.username.label_tag }}
        <input type="text" name="{{ form.username.name }}" placeholder="Usuario" />
    </div>
    <div class="inputGroup inputGroup2">
        {{ form.password.label_tag }}
        <input type="password" name="{{ form.password.name }}" placeholder="Contraseña" />
    </div>
    <div class="inputGroup inputGroup3">
        <button id="login">Ingresar</button>
    </div>
    <div id="password_reset">
        <p id="password_reset"><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
    </div>
</form>

</body>
</html>



