.col-md-12.col-sm-12.col-xs-12 {
    margin-top: -37px;
}
h3 {
    margin-top: 34px;
}
body {
    overflow: hidden;
}

#capture-button {
    position: relative;
    top: -350px;
    right: 371px;
    color: #fff;
    background-color:  #df1515;
    border-color: #a94442;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    transition: border-color 0.3s;
    
}
#crear {
    margin-left: -6%;
    margin-top: -89px;
}

#camera-feed {
    position: relative;
    top: -447px;
    width: 75%;
    left: 121px;
    border-radius: 4px;
}

#capture-button:hover {
    background-color: #d73232;

}

.btn-primary {
    color: #fff;
    background-color: #df1515;;
    border-color: #a94442;
}

.btn-primary:hover {
    background-color: #d73232;
    border-color: #a94442;

}
#btnBorrar {
    background-color:  #df1515;
    border-color: #a94442;
}
#equipo {
    background-color:  #df1515;
    border-color: #a94442;
}

#btnBorrar:hover {
    background-color: #d73232;
    border-color: #a94442;
}
#equipo:hover {
    background-color: #d73232;
    border-color: #a94442;
}

.center-content {
    text-align: center;
  }
  