html {
    width: 100%;
    height: 100%;
}

body {
  background-image: url("https://s3.amazonaws.com/mobisorteos/backgrounds/mobisorteos_background.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 13px;
  overflow: hidden;
}

form {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 400px;
  max-height: 632px;
  background-color: #d32130;
  margin: 0;
  padding: 2.25em;
  box-sizing: border-box;
  border: solid 1px #DDD;
  border-radius: 2em;
  font-family: 'Source Sans Pro', sans-serif;
}

form .svgContainer {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 1em;
  border-radius: 50%;
  background: none;
  border: solid 2.5px #d11212;
  overflow: hidden;
  pointer-events: none;
}


form .inputGroup {
  margin: 0 0 2em;
  padding: 0;
  position: relative;
}

form label {
  margin: 0 0 12px;
  display: block;
  font-size: 1.40em;
  color: white;
  font-weight: 700;
  font-family: inherit;
}

form input[type='email'], form input[type="text"], form input[type='password'] {
  display: block;
  margin: 0;
  padding: 0 1em 0;
  background-color: #d6e7ee;
  border: solid 2px #9d1818;;
  border-radius: 6px;
  box-sizing: border-box;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  color: #000;
  font-weight: 600;
  font-family: inherit;
}

form input[type='email']:focus, form input[type="text"]:focus, form input[type='password']:focus {
  outline: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px #d11212;
}


form button {
  cursor: pointer;
  display: block;
  margin: 0;
  padding: .65em 1em 1em;
  background-color: #fab900;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: none;
  width: 100%;
  height: 65px;
  font-size: 1.55em;
  color: #FFF;
  font-weight: 600;
  font-family: inherit;
  border: solid 2.5px #d11212;

}
  
#element.style {
  color: white;
  font-size: 1rem;
}

p a {
  color: white;
  font-size: 1rem;
}