{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VISITANTES</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/create.css' %}">
</head>
<body>
  <img id="apostar" src="{% static 'img/apostar1.jpg' %}" style="width: 100%;height: 106px;">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="padding: 4px;">
          <img alt="Brand" src="{% static 'img/apostar.jpg' %}" style="width: 40px; height: 40px;">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">menú</a></li>
          <li><a href="{% url 'login' %}">Salir</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <center style="width: 100%;">
    <div class="" >
      <div class="page-title">
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h3>Crear usuario <h6></h6></h3>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <form method="POST" action="" accept-charset="UTF-8" autocomplete="off"
                class="form-horizontal form-label-left" id="visitante" enctype="multipart/form-data">
                  {% csrf_token %}
                  
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Cédula : " class="control-label col-md-3 col-sm-3 col-xs-12"
                      for="identificacion">C&eacute;dula : </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="identificacion" class="form-control col-md-7 col-xs-12" placeholder="Ingrese la cedula"
                        name="identificacion" type="number" required>
                      <span class="input-group-btn">
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Nombres : " class="control-label col-md-3 col-sm-3 col-xs-12" for="nombres">Nombres :
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="nombres" class="form-control col-md-7 col-xs-12" placeholder="Ingrese el nombre"
                        name="nombres" type="text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Apellidos : " class="control-label col-md-3 col-sm-3 col-xs-12"
                      for="apellidos">Apellidos : </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="apellidos" class="form-control col-md-7 col-xs-12" placeholder="Ingrese el apellido"
                        name="apellidos" type="text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Celular : " class="control-label col-md-3 col-sm-3 col-xs-12" for="celular">Celular :
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="celular" class="form-control col-md-7 col-xs-12" placeholder="Ingrese el celular"
                        name="celular" type="number" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Empresa : " class="control-label col-md-3 col-sm-3 col-xs-12" for="empresa">Empresa :
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input id="empresa" class="form-control col-md-7 col-xs-12" placeholder="Ingrese la empresa"
                        name="empresa" type="text" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="Area de visita : " class="control-label col-md-3 col-sm-12 col-xs-12" for="role_id">Area De Visita : </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select id="area_id" class="form-control col-md-7 col-xs-12 btn btn-default" name="area_id" required>
                            <option selected="selected" value="">Seleccione El area</option>
                            {% for area in form.area_id.field.queryset %}
                                <option value="{{ area.id }}" data-area-id="{{ area.id }}">{{ area.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                                
                <div class="form-group">
                  <label for="Empleado : " class="control-label col-md-3 col-sm-12 col-xs-12" for="role_id">Empleado : </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      <select id="id_empleado_id" class="form-control col-md-7 col-xs-12 btn btn-default" name="empleado_id" required>
                          <option selected="selected" value="">Seleccione el empleado</option>
                          {% for empleado in form.empleado_id.field.queryset %}
                              <option value="{{ empleado.id }}" data-area-id="{{ empleado.area_id }}">{{ empleado.nombre }}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>                    
                  <div class="form-group">
                    <label for="Ingresar equipo : " class="control-label col-md-3 col-sm-12 col-xs-12"
                      for="role_id">Ingresar Equipo : </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button type="button" class="btn btn-primary" id="equipo" data-toggle="modal" data-target="#myModal">Ingresar</button>
                        <button type="reset" class="btn btn-primary" id="btnBorrar">Borrar</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6" id="my_camera" style="width:320px; height:240px;"></div>
                    <input id="imagen" type="hidden" name="imagen" value="" />
                    <input id="oldimagen" type="hidden" name="oldimagen" value="" />
                    <div class="col-md-5 col-md-offset-1" id="my_result">
                      <img id="imagenvisitante" src="" />
                    </div>
                  </div>
                  
                  <div class="row">
                  </div>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Equipo</h4>
                      </div>
                      <div class="modal-body">
                          <div class="form-group">
                            <label for="{{ form.tipo_equipo.id_for_label }}" class="control-label col-md-4 col-sm-12 col-xs-12">Tipo De Equipo :</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.tipo_equipo }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="{{ form.marca.id_for_label }}" class="control-label col-md-4 col-sm-3 col-xs-12">Marca :</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.marca }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="{{ form.serial.id_for_label }}" class="control-label col-md-4 col-sm-3 col-xs-12">Serial :</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.serial }}
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <input id="crear" class="btn btn-primary" type="submit" value="Crear">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="col-md-6" style="float: right; margin-right: 10px; margin-top: 20px;">
        <video id="camera-feed" autoplay></video>
        <button id="capture-button">Capturar Imagen</button>
        <canvas id="captured-image" style="display: none; width: 20%;"></canvas>
    </div>     
  <script src="{% static 'js/create.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </center>
</body>
</html>


