<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>APOSTAR</title>
  <title>SISTEMA DE SEGURIDAD</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <img id="apostar" src="./img/apostar1.jpg" style="width: 100%;">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="/img/apostar.jpg" style="width: 40px; height: 40px;">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">menú</a></li>
          <li><a href="login.html">Salir</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h3>Listado de usuarios </h3>
          <ul class="nav navbar-right panel_toolbox">
            </li>
            </ul>
            <div class="clearfix"></div>
            </div>
          <div class="x_content">
            <a href="/visitantes/create.html" type="button" class="btn btn-danger">Crear usuario</a>
        <table id="datatable" class="table table-hover">
          <thead>
            <th>Nombres</th>
            <th>Usuario</th>
            <th>Operación</th>
          </thead>
          <tbody>
                      <tr>
              <td></td>
              <td></td>
              <td>
                <a href="#" class="btn btn-primary">Editar</a>
              </td>
            </tr>					              
          </tbody>	                  
        </table>
        </div>
      </div>
    </div>
  </div>
    
</body>

</html>