{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>APOSTAR</title>
	<title>SISTEMA DE SEGURIDAD</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
</head>
<body>
	<img id="apostar" src="{% static 'img/apostar1.jpg' %}" style="width: 100%;">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="{% static 'img/apostar.jpg' %}" style="width: 40px; height: 40px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}">menú</a></li>
        <li><a href="{% url 'login' %}">Salir</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	
<div class="">
  <div class="page-title">
  <div class="title_left">
  </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
    <div class="x_title">
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <br />
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4">
          <input type="text" id="search" class="form-control" placeholder="Escribe para buscar..." />
        </div>
        <table id="tablaVisitas" class="table table-hover">
          <thead>
            <th>Foto</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Identificación</th>
            <th>empresa</th>
            <th>Área de visita</th>
            <th>Empleado</th>
            <th>Elemento</th>
            <th>Marca</th>
            <th>Serial</th>
            <th>Fecha Ingreso</th>
            <th>Estado</th>
                            <th>Operación</th>
                          </thead>
          <tbody>
                            <tr>
              <td><img src=""  class="img-rounded"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b></b></td>
              <td><b></b></td>
              <td><b></b></td>
              <td></td>
              <td>
                <form method="POST" action="#" id="salidaseguridad"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="xY2CWf4eYPIy1SdENKZzUCkKtaw4KRXw3RF4WE2W">
                <input name="flatseguridad" type="hidden" value="1">
                    <a href="#" type="submit" id="buttonsalidaseguridad" onclick="document.getElementById('salidaseguridad').submit()"><img src="{% static 'img/police.png' %}" style="width: 30px; height: 30px;"></a>
                    </form>
              </td>
                  <td>
                <form method="POST" action="#" accept-charset="UTF-8" id="salidarecepcion"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="xY2CWf4eYPIy1SdENKZzUCkKtaw4KRXw3RF4WE2W">
                <input class="btn btn-danger" type="submit" value="Salida">
                </form>
              </td>
                  </tr>					
                
          </tbody>			
        </table>
      </div>
    </div>
    </div>
  </div>
  </div>  
</div>

</body>
</html>